
<div class="container">
    <div class="carta">
        <h1>Login</h1>
        <div class="carta-body">
            <%= render "form", session: @session %>
        </div>
        <div class="btn-group">
            <%= link_to 'Registrar', registrar_path, class: 'btn-registrar' %>
        </div>
        <div >
            <%= link_to "Regresar", root_path, style: "color: #ECE9DD;" %>
        </div>
    </div>
</div>

<style>
    .formato-general {
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .formato-general-carta {
    }
    .card {
        shadow: 0 200px 7px #fafafafa;

    }
</style>